* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  header {
    padding: 1rem 2%;
  }

  .inicio {
    padding: 3rem 0;
    text-align: center;
  }

  .inicio h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .inicio h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .mision {
    padding: 2rem 0;
    text-align: center;
  }

  .mision h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .mision p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .cuadros {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    margin: 0 auto;
  }

  .box {
    width: 90%;
    margin-bottom: 1rem;
  }

  .propuesta {
    padding: 2rem 0;
    text-align: center;
  }

  .propuesta h4 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .propuesta p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .contacto {
    padding: 2rem 0;
    text-align: center;
  }

  .contacto h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }

  .contacto p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

/* Estilos para dispositivos con una anchura mínima de 768px (ordenadores y tabletas) */
@media (min-width: 768px) {
  header {
    padding: 2rem 5%;
  }

  .inicio {
    padding: 5rem 0;
    text-align: center;
  }

  .inicio h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  .inicio h2 {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .mision {
    padding: 4rem 0;
    text-align: center;
  }

  .mision h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .mision p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .cuadros {
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% auto;
  }

  .box {
    width: 45%;
    margin-bottom: 0;
  }

  .propuesta {
    padding: 4rem 0;
    text-align: center;
  }

  .propuesta h4 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .propuesta p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .contacto {
    padding: 4rem 0;
    text-align: center;
  }

  .contacto h3 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .contacto p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

/* Estilos generales */
body {
  font-family: "Poppins", sans-serif;
  background-color: #ebebeb;
}

header {
  background-image: linear-gradient(to bottom, #0c3b4b, #08203a);
  box-shadow: 1px 1px 4px 1px black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-style: normal;
}

nav ul {
  display: flex;
  color: aliceblue;
  gap: 3rem;
}

nav ul a {
  color: aliceblue;
  text-decoration: none;
}

li {
  list-style: none;
}

main {
  color: dimgrey;
  margin: 1rem 9%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #09eab4;
}

.box {
  border: 2px #696969 solid;
  border-radius: 9px;
  padding: 1% 5%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}
